.sidetexting{
    font-size: 6vw;
    text-align: left;
    margin-left: 5%;
    color: #f1f1f1;
    width: 30%;
    margin-top: 20%;
}

.subsub{
    color: #f1f1f1;
    margin-left: 5%;
    margin-top: -4%;
    width: 15%;
}