.dis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}

.scrollframe{
     width: 90%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}

.imginside{
    width: 100%;
    height: 100%;
}